@charset "utf-8";
@font-face{
	src:url('BrushScriptStd.otf');
	font-family:abc;
}

p{
	/*font-style:italic;
	font-size:larger;
	font-variant:small-caps;
	font-weight:bold;
	font-family:微软雅黑,楷体,宋体; //备用*/
	font:small-caps italic 50px abc;//大小和字体放后面
}