@charset "utf-8";
div{
	width:200px;
	height:200px;
	/* color:blue; */
	/* background-color:green; */
	/* opacity:0.4;Í¸Ã÷¶È */
	margin-top:20px;
	margin-left:15px;
	border:10px solid red;
	box-shadow:10px 10px 5px 1px gray;
	outline:blue 10px double;
	cursor:move;
}