@charset 'utf-8';

body{
	margin:100px;
}

div{
	width:200px;
	height:200px;
	background:green;
	box-shadow:2px 2px 2px gray;
	/* transform:translate(0px,250px);平移 */
	/* transform:scale(1.5); 放大*/
	/* transform:scale(0.6); 缩小 */
	/* transform:rotate(45deg);旋转 */
	/* transform:skewX(45deg);倾斜 */
	/* transform:matrix(1,0,0,1,30,30); */
	transform:rotate(30deg) scale(0.8) skew(40deg);
}